{{/*
  If you need to add content to your page header, override this template in your
  blog by creating a file named `/layout/partials/head/extra.html`. This way you
  don't have to edit the theme itself.
*/}}
{{/*
  Umami server metrics on railway
*/}}
<script async src="https://metrics.out.gasparsantos.eu/script.js" data-website-id="3d50f54a-d8f2-4716-bac4-63e2a7118c0e"></script>
{{/*
  Netlify Identity Widget for protected pages
*/}}
<!-- <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js" async></script> -->
{{/*
  No index option on frontmatter
*/}}
{{ if .Params.noindex }}
<meta name="robots" content="noindex" />
{{ end }}

<!-- BY Me hreflang -->
{{- if .IsTranslated -}}
  {{ range .AllTranslations }}
    <link rel="alternate" hreflang="{{ site.LanguageCode }}" href="{{ .Permalink }}" />
  {{- end -}}
  {{ range first 1 .AllTranslations }}
    <link rel="alternate" hreflang="x-default" href="{{ .Permalink }}" />
  {{- end -}}
{{ end }}

    {{ partial "site_schema.html" . }}

<!-- BY Me Google Tag -->

<!-- Google tag (gtag.js) -->
<script src="https://www.googletagmanager.com/gtag/js?id=AW-11044115128" async></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-11044115128');
</script>
