{{/*
  If you need to add content to your page header, override this template in your
  blog by creating a file named `/layout/partials/head/extra.html`. This way you
  don't have to edit the theme itself.
*/}}
{{/*
  Umami server metrics
*/}}
<script defer src="https://metrics.by.gasparsantos.eu/script.js" data-website-id="f7397cd3-ad48-4a98-be02-71d5c6c84455"></script>
{{/*
  Netlify Identity Widget for protected pages
*/}}
<!-- <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js" defer></script> -->
{{/*
  No index option on frontmatter
*/}}
{{ if .Params.noindex }}
<meta name="robots" content="noindex" />
{{ end }}

<!-- BY Me hreflang -->
{{- if .IsTranslated -}}
  {{ range .AllTranslations }}
    <link rel="alternate" hreflang="{{ site.LanguageCode }}" href="{{ .Permalink }}" />
  {{- end -}}
  {{ range first 1 .AllTranslations }}
    <link rel="alternate" hreflang="x-default" href="{{ .Permalink }}" />
  {{- end -}}
{{ end }}

    {{ partial "site_schema.html" . }}


