{{/*
  If you need to add content to your page header, override this template in your
  blog by creating a file named `/layout/partials/head/extra.html`. This way you
  don't have to edit the theme itself.
*/}}
{{/*
  Umami server metrics on railway
*/}}
<script async src="https://umami-production-7a69.up.railway.app/script.js" data-website-id="67682caf-50de-47d8-b6fb-0f2fd54c6c3a"></script>
{{/*
  Netlify Identity Widget for protected pages
*/}}
<script async type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
{{/*
  No index option on frontmatter
*/}}
{{ if .Params.noindex }}
<meta name="robots" content="noindex" />
{{ end }}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cormorant+Garamond">

<!-- BY Me hreflang -->
{{- if .IsTranslated -}}
  {{ range .AllTranslations }}
    <link rel="alternate" hreflang="{{ site.LanguageCode }}" href="{{ .Permalink }}" />
  {{- end -}}
  {{ range first 1 .AllTranslations }}
    <link rel="alternate" hreflang="x-default" href="{{ .Permalink }}" />
  {{- end -}}
{{ end }}

    {{ partial "site_schema.html" . }}
