{{ if .IsHome -}}
<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "WebSite",
    "name": "{{ .Site.Title }}",
    "url": "{{ "/" | absLangURL }}",
    "description": "{{ .Site.Params.description }}",
    "thumbnailUrl": "{{ "/" | absLangURL }}images/gaspar.png",
    "license": "{{ .Site.Params.Copyright }}"
}
</script>
{{ else if eq .Params.type "event" }}
{{ $author :=  or (.Params.author) (.Site.Author.name) }}
{{ $org_name :=  "Gaspar Santos Violinista, Unipessoal, Lda" }}
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "MusicEvent",
      "location": {
        "@type": "MusicVenue",
        "name": "Igreja de São Nicolau, Porto",
          "address": "Rua do Infante D. Henrique, 93, 4050-298 Porto, PORTUGAL",
          "url": "https://www.facebook.com/Igrejadesaonicolau" 
      },
      "name": "{{ .Params.title }}", 
      "description": "{{ .Params.description }}",
      "image": "{{ "/" | absLangURL }}images/gaspar.png",
      "startDate": "2023-07-20T18:00:00+01:00",
      "duration": "PT50M",
      "doorTime": "2023-07-20T17:30:00+01:00",
      "inLanguage": "{{ .Site.LanguageCode }}",
      "eventSchedule": [
      {
         "@type": "Schedule",
         "startDate": "2023-07-20",
         "endDate": "2023-12-31",
         "repeatFrequency": "P1W",
         "byDay": "https://schema.org/Thursday",
         "startTime": "18:00:00",
         "endTime": "18:50:00",
         "scheduleTimezone": "Europe/Lisbon"
      },
      {
         "@type": "Schedule",
         "startDate": "2023-07-23",
         "endDate": "2023-12-31",
         "repeatFrequency": "P1W",
         "byDay": "https://schema.org/Sunday",
         "startTime": "11:00:00",
         "endTime": "11:50:00",
         "scheduleTimezone": "Europe/Lisbon"
      }
      ],
      "offers": {
        "@type": "Offer",
        "url": "{{ .Permalink }}",
        "availability": "https://schema.org/InStock",
        "price": "15.00",
        "priceCurrency": "EUR"
      },
      "organizer": [
        {
          "@type": "Organization",
          "name": "Gaspar Santos Violinista, Unipessoal, Lda.",
          "url": "{{ "/" | absLangURL }}"
        },
        {
          "@type": "Person",
          "image": "{{ "/" | absLangURL }}images/gaspar.png",
          "name": "Gaspar Santos",
          "sameAs": "{{ "/" | absLangURL }}"
        }    
      ],
      "performer": [
        {
          "@type": "Person",
          "image": "{{ "/" | absLangURL }}images/gaspar.png",
          "name": "Gaspar Santos",
          "sameAs": "{{ "/" | absLangURL }}"
        }    
      ],
      "workPerformed": [
        {
          "@type": "CreativeWork",
          "name": "Sonata No. 1 in G minor, BWV 1001 from Johann Sebastian Bach",
          "sameAs": "https://en.wikipedia.org/wiki/Sonatas_and_Partitas_for_Solo_Violin_(Bach)#Sonata_No._1_in_G_minor,_BWV_1001"
        },
        {
          "@type": "CreativeWork",
          "name": "Partita No. 1 in B minor, BWV 1002 from Johann Sebastian Bach",
          "sameAs": "https://en.wikipedia.org/wiki/Sonatas_and_Partitas_for_Solo_Violin_(Bach)#Partita_No._1_in_B_minor,_BWV_1002"
        }
      ]
    }
    </script>
     {{ else if eq .Params.type "disco" }}
{{ end }}
